
@keyframes animate-slide-in-from-1  {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    50% {
        transform: translateX(-5px);
        opacity: 0;
    }
   
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animate-slide-in-from-1 {
    animation: 2s ease-in  animate-slide-in-from-1;
}

@keyframes animate-slide-in-from-2  {
    0% {
        transform: translateX(5px);
        opacity: 0;
    }
    50% {
        transform: translateX(3px);
        opacity: 0;
    }
   
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animate-slide-in-from-2 {
    animation: 4s  animate-slide-in-from-2;
}


@keyframes animate-slide-in-from-3  {
    0% {
        transform: translateX(5px);
        opacity: 0;
    }
    50% {
        transform: translateX(3px);
        opacity: 0;
    }
   
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animate-slide-in-from-3 {
    animation: 5s   animate-slide-in-from-3;
}

@keyframes animate-slide-in-from-4  {
    0% {
        transform: translateX(-5px);
        opacity: 0;
    }
    50% {
        transform: translateX(-3px);
        opacity: 0;
    }
   
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animate-slide-in-from-4 {
    animation: 7s  animate-slide-in-from-4;
}




@keyframes slidefromtop {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
  

   

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}




.animate-down {
    animation: 1s ease-in slidefromtop;
}
